html, body {margin:0;padding:0;height:100%;}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: steelblue;
}

p {
}

a {
    color: #00B7FF;
}
.container{
    background-color: steelblue;
}
#charCardTemplate {
    display : none;
}

#workCardTemplate {
    display : none;
}

#projectCardTemplate {
}

#grandGameDevelop {
    background-color: lightsalmon;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#charList {
    background-color: lightgray;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    height:100%;
    overflow-y: auto;

}

#workList {
    background-color: lightgray;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    height:100%;
}


#projectList {
    background-color: lightgray;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    height:100%;
}

.charCard {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 5px;
    background: white;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

}

.skillTag {
    display: inline-block;
    border-radius: 1px;
    background: #518eff;
    color: #fff;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.charFace {
    max-width: 50px;
    min-width: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

.workCard {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 5px;
    background: white;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.workCharList {
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}


.projectCard {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 5px;
    background: white;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.projectCharList {
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}


.floatingText {
    z-index: 99999;
    position: fixed;
    font-size: 150%;
    color: rgb(98, 98, 98);
    background-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 5px;
}

.charCardSelected {
    background-color: orange;
}